* {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

.menu {
    padding: 1px;
    margin: 8px;
    background-color: #D0D0D0;
}

.menu-item {
    display: inline-block;
    padding: 8px 16px 8px 16px;
    border: solid transparent 1px;
    font-size: 12pt;
    cursor: pointer;
}

.menu-item:hover {
    background-color: #A0A0A0;
}

.form {
    width: 400px;
    margin: 16px;
}

.form-header {
    border-bottom: solid #A0A0A0 2px;
    font-size: 16pt;
    margin: 4px;
    padding-bottom: 8px;
}

.form-content {
    padding-top: 8px;
    margin: 4px;
}

.form-label {
    font-size: 12pt;
    color: #2F2F2F;
    margin-bottom: 8px;
}

.form-field {
    margin-bottom: 8px;
}

.form-input {
    font-size: 11pt;
    border: solid #9F9F9F 1px;
    color: #4F4F4F;
    padding: 4px;
    width: 100%;
}

.message {
    margin: 16px;
    font-size: 16pt;
    color: darkslateblue;
}

