<hf-post>
    <div class='post'>
        <div class='post-title'>
            {opts.title}
        </div>
        <div class='post-text'>
            {opts.text}
        </div>
    </div>

    <script>
        if (!opts.title)
            opts.title = "[No title]";
        if (!opts.text) 
            opts.text = "[No text]";

        this.on("mount", () => {
          console.log("hf-post mounted");
        });
    </script>

    <style>
        :scope {
            display: block;
        }
        .post {
            margin-bottom: 16px;
            padding: 8px;
            border: dotted #909090 1px;
            max-width: 600px;
        }

        .post-title {
            font-size: 14pt;
            margin-bottom: 8px;    
        }

        .post-text {
            font-size: 12pt;
            color: #404040;
        }
    </style>
  
</hf-post>