<div class="address-view">

    <div class="address-view-title" ng-bind="$ctrl.getAddress().description">
    </div>

    <div class="address-view-text" ng-bind="$ctrl.getAddressText()">
    </div>

</div>
