.address {
    width: 500px;
    margin: 16px;
}

.address-header {
    border-bottom: solid #A0A0A0 2px;
    font-size: 16pt;
    margin: 4px;
    padding-bottom: 8px;
}

.address-content {
    padding-top: 8px;
    margin: 4px;
}

.address-label {
    font-size: 12pt;
    color: #2F2F2F;
    margin-bottom: 8px;
}

.address-field {
    margin-bottom: 8px;
}

.address-button {
    border: none;
    background-color: steelblue;
    border-radius: 4px;
    padding: 8px 16px 8px 16px;
    font-size: 11pt;
    color: white;
}

.address-input {
    font-size: 11pt;
    border: solid #9F9F9F 1px;
    color: #4F4F4F;
    padding: 4px;
    width: 100%;
}

.address-footer {
    text-align: right;
    margin: 4px;
    padding-top: 8px;
}

