<div class="address">

    <div class="address-header" ng-bind="$ctrl.getAddress().description">
    </div>

    <div class="address-content">
        <div class="address-label">
            Street:
        </div>
        <div class="address-field">
            <input ng-model="$ctrl.getAddress().street" class="address-input" type="text">
        </div>
        <div class="address-label">
            City:
        </div>
        <div class="address-field">
            <input ng-model="$ctrl.getAddress().city" class="address-input" type="text">
        </div>
        <div class="address-label">
            Postal Code:
        </div>
        <div class="address-field">
            <input ng-model="$ctrl.getAddress().postalCode" class="address-input" type="text">
        </div>
        <div class="address-label">
            Country:
        </div>
        <div class="address-field">
            <input ng-model="$ctrl.getAddress().country" class="address-input" type="text">
        </div>
    </div>

    <div class="address-footer">
        <button class="address-button" ng-click="$ctrl.gotoNext()">
            Next
        </button>
    </div>

</div>
