<div class="view">
    <hf-address ng-if="$ctrl.isView('billing')" address="billing">        
    </hf-address>

    <hf-address ng-if="$ctrl.isView('shipping')" address="shipping">        
    </hf-address>

    <hf-summary ng-if="$ctrl.isView('summary')">        
    </hf-summary>
</div>