* {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

.button {
    padding: 4px 12px 4px 12px;
    font-size: 10pt;
    color: white;
    border-radius: 4px;
    border: none;
    background: steelblue;
}

.button-dangerous {
    background: orangered;
}


.messages {
    border: solid gray 1px;
    margin: 16px;
    font-size: 10pt;
    max-width: 600px;
}

.messages-header {
    border-bottom: solid gray 1px;
    background-color: #E0E0E0;
    padding: 4px;
}

.messages-footer {
    border-top: solid gray 1px;
    font-weight: bold;
    font-size: 8pt;
    padding: 4px;
}

.messages-list {
    padding: 2px;
}

.message {
    padding: 8px;
    border-bottom: dotted gray 1px;
    color: black;
}

.message-title {
    font-size: 12pt;
}

.message-text {
    font-style: italic;
    margin-top: 8px;
}

.message-actions {
    display: none;
}

.message-actions-visible {
    display: block;
    margin-bottom: 8px;
}

.message-tag-important {
    color: orangered;
}

.message-tag-spam {
    color: gray;
}

.message-state-unread {
    font-weight: bold;
}

.message-state-read {
    font-weight: normal;
}

.message:last-child {
    border-bottom: none;
}

