.menu {
    padding: 1px;
    background: #E0E0E0;
    border-bottom: solid gray 1px;
}

.menu-item {
    padding: 8px 16px 8px 16px;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    text-decoration: none;
    color: black;
    font-size: 12pt;
}

.menu-item:hover {
    background-color: #C0C0C0;
}

.menu-item-active {
    font-weight: bold;
    background-color: #C0C0C0;
}