<div class="menu">
    <a 
        ng-repeat="item in $ctrl.items" 
        class="menu-item {{ $ctrl.isView(item.view) ? 'menu-item-active' : '' }}" 
        ng-click="$ctrl.goto(item.view)">
        {{item.title}}
    </a>
</div>    

