* {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

.menu {
    padding: 1px;
    background: #E0E0E0;
    border-bottom: solid gray 1px;
}

.menu-item {
    padding: 8px 16px 8px 16px;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    text-decoration: none;
    color: black;
    font-size: 12pt;
}

.menu-item:hover {
    background-color: #C0C0C0;
}

.form {
    width: 500px;
    margin: 16px;
}

.form-header {
    border-bottom: solid #A0A0A0 2px;
    font-size: 16pt;
    margin: 4px;
    padding-bottom: 8px;
}

.form-content {
    padding-top: 8px;
    margin: 4px;
}

.form-label {
    font-size: 12pt;
    color: #2F2F2F;
    margin-bottom: 8px;
}

.form-field {
    margin-bottom: 8px;
}

.form-button {
    border: none;
    background-color: steelblue;
    border-radius: 4px;
    padding: 8px 16px 8px 16px;
    font-size: 11pt;
    color: white;
}

.form-input {
    font-size: 11pt;
    border: solid #9F9F9F 1px;
    color: #4F4F4F;
    padding: 4px;
    width: 100%;
}

.form-summary {
    margin: 4px;
    padding-top: 8px;
}

.form-summary span {
    color: darkred;
}

.form-footer {
    text-align: right;
    margin: 4px;
    padding-top: 8px;
}

