.post {
    margin: 16px;
    padding: 8px;
    border: dotted silver 1px;    
}

.post:hover {
    background-color: #F0F0F0;
}

.post-title {
    margin: 0 0 8px 0;
    font-size: 16pt;
    font-weight: bold;
    color: #0a0a0a;
}

.post-text {
    font-size: 11pt;
}

