.summary {
    width: 500px;
    margin: 16px;
}

.summary-header {
    border-bottom: solid #A0A0A0 2px;
    font-size: 16pt;
    margin: 4px;
    padding-bottom: 8px;
}

.summary-content {
    padding-top: 8px;
    margin: 4px;
}

.summary-label {
    font-size: 12pt;
    color: #2F2F2F;
    margin-bottom: 8px;
}

.summary-field {
    margin-bottom: 8px;
    color: darkred;
    font-weight: bold;
    padding-left: 16px;
}

.summary-button {
    border: none;
    background-color: steelblue;
    border-radius: 4px;
    padding: 8px 16px 8px 16px;
    font-size: 11pt;
    color: white;
}

.summary-footer {
    text-align: right;
    margin: 4px;
    padding-top: 8px;
}

