<div class="summary">
    <div class="summary-header">
        Order summary
    </div>

    <div class="summary-content">
        <div class="summary-label">
            ID:
        </div>
        <div class="summary-field">
            <span ng-bind="$ctrl.order.id"></span>
        </div>
        <div class="summary-label">
            Customer:
        </div>
        <div class="summary-field">
            <span ng-bind="$ctrl.order.customer"></span>
        </div>
        <div class="summary-label">
            Total:
        </div>
        <div class="summary-field">
            <span ng-bind="$ctrl.order.total"></span> <span ng-bind="$ctrl.order.currency"></span>
        </div>

        <hf-address-view address="billing">
        </hf-address-view>

        <hf-address-view address="shipping">
        </hf-address-view>
    </div>

    <div class="summary-footer">
        <button class="summary-button" ng-click="$ctrl.save()">
            Place order
        </button>
        <button class="summary-button" ng-click="$ctrl.cancel()">
            Cancel
        </button>
    </div>

</div>
