<h1>Alternatives</h1>
<div class="article-text">
    Other frameworks deal with HTML’s shortcomings by either abstracting away HTML, CSS, and/or JavaScript  or by providing an imperative way for manipulating the DOM. Neither of these address the root problem that HTML was not designed for dynamic views.
</div>
