* {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

.menu {
    padding: 8px;
    background: #E0E0E0;
    border-bottom: solid gray 1px;
}

.menu-item {
    margin-right: 8px;
    padding: 4px;
    text-decoration: none;
}

.menu-item:hover {
    background-color: #C0C0C0;
}

.article {
    margin: 1000px 16px 1000px 16px;
    padding: 8px;
    border: dotted silver 1px;
}

.article-hidden {
    display: none;
}

.article-visible {
    display: block;
}

.article-text {
    margin-bottom: 8px;
}

.link-back {
    text-decoration: none;
    font-weight: bold;
}