<hf-header>
    <div class='header'>
        Riot Components by Hackers and Founders Meetup
    </div>

    <script>
        this.on("mount", () => {
          console.log("hf-header mounted");
        });
    </script>

    <style>
        :scope {
            display: block;
        }
        .header {
            font-size: 18pt;
            padding: 8px;
            border-bottom: solid #909090 2px;
            margin-bottom: 16px;
        }
    </style>

</hf-header>