* {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

.form {
    width: 400px;
    margin: 16px;
}

.form-header {
    border-bottom: solid #A0A0A0 2px;
    font-size: 16pt;
    margin: 4px;
    padding-bottom: 8px;
}

.form-content {
    padding-top: 8px;
    margin: 4px;
}

.form-label {
    font-size: 12pt;
    color: #2F2F2F;
    margin-bottom: 8px;
}

.form-field {
    margin-bottom: 8px;
}

.form-button {
    border: none;
    background-color: steelblue;
    border-radius: 4px;
    padding: 8px 16px 8px 16px;
    font-size: 11pt;
    color: white;
}

.form-input {
    font-size: 11pt;
    border: solid #9F9F9F 1px;
    color: #4F4F4F;
    padding: 4px;
    width: 100%;
}

.form-footer {
    text-align: right;
    margin: 4px;
    padding-top: 8px;
}

