.post {
    margin-bottom: 16px;
    padding: 8px;
    border: dotted #909090 1px;
    max-width: 600px;
}

.post-title {
    font-size: 14pt;
    margin-bottom: 8px;    
}

.post-text {
    font-size: 12pt;
    color: #404040;
}